/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 *
 * Custom bootstrap variables must be set or imported *before* bootstrap.
 */

@import "bootstrap";

.guess-green {
  background-color: #6AAA63 !important;
  color: white !important;
}

.guess-yellow {
  background-color: #C9B458 !important;
  color: white !important;
}

.guess-gray {
  background-color: #787C7E !important;
  color: white !important;
}

#scroll-container {
  overflow-y: auto;
}
